.navbar
{
    display: flex ;
    flex-direction: column;
    align-items:  center;
    background-color: green;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;

    &.active
    {
        background-color: #fff;
        color: black;
    }
    .container
    {
        width: 1400px;
       display: flex;
       justify-content: space-between;
       padding: 20px 0px;
        .logo
        {
            font-size: 34px;
            font-weight:bold;
            
            .text
            {
                
            }
            .dot
                {
                   color: rgb(14, 227, 74);
                }
        }    

            .links
            {
                display: flex;
                align-items: center;
                gap: 24px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                button{ 
                    padding: 10px 20px;
                    color: white;
                    border: 1px solid;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color:transparent;
                    &:hover
                {
                    background-color: lightgreen;
                }

                }

                .user
                {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    position: relative;

                    img
                    {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;                       
                        object-fit: cover;
                    }

                    .options
                    {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 10px;
                        border: 1px solid lightgray;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 200px;
                        color: lightgray;
                    }
                }

                
                span{
                    
                }
            }
    }

    hr
    {
        width: 100%;
        height: 0;
        border: 0.5px solid lightgray;
    }

    .menu
    {
        width: 1400px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 300px;
        color: gray;
    }
}